//backgroud color
$header-color: #ffffff;
$sidebar-color: #001489;
$sidebar-color_hover: #ffffff;

//text color
$header_text-color: #001489;
$sidebar_text-color: #ffffff;
$sidebar_text-color_hover: #001489;