.search-table {
    height: 150px;
    padding: 20px;
    
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 100px;
        grid-gap: 1rem;

        .search-component{
            display: grid;
            grid-template-columns: 100px 1fr;

            &.name {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            &.age{
                grid-template-columns: 100px 1fr 1fr;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            &.nationality {
                grid-row-start: 3;
                grid-row-end: 4;
            }

            &.position {
                grid-row-start: 2;
                grid-row-end: 3;
            }

            &.positionDetail {
                grid-row-start: 3;
                grid-row-end: 4;
            }

            &__label{
                font-size: 0.9rem;
                font-weight: bold;
            }

            input {
                height: 1.5rem;
            }
        }
    }
}






